<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JDBCDemo</display-name>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>edu.xuchu.user.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>edu.xuchu.contact.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>edu.xuchu.user.servlet.ShowUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowSession</servlet-name>
    <servlet-class>edu.xuchu.user.servlet.ShowSession</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowSession</servlet-name>
    <url-pattern>/ShowSession</url-pattern>
  </servlet-mapping>
  <listener>
  <listener-class>edu.xuchu.listener.SessionListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>